.trigger
identity.json
inspector/an-inspector.*
inspector/ios-inspector.*
.hash
inspector/ios-inspector/ForgeInspector
inspector/ios-inspector/ForgeCore.framework
inspector/ios-inspector/ForgeInspector.xcodeproj
inspector/ios-inspector/ForgeCore.bundle
inspector/an-inspector/ForgeInspector
inspector/an-inspector/ForgeModule/.settings
inspector/an-inspector/ForgeModule/libs
inspector/an-inspector/ForgeModule/res
inspector/an-inspector/ForgeModule/trigger-gen
inspector/an-inspector/ForgeModule/.classpath
inspector/an-inspector/ForgeModule/.project
inspector/an-inspector/ForgeModule/AndroidManifest.xml
inspector/an-inspector/ForgeModule/project.properties
inspector/ios-inspector/ForgeModule/build
inspector/ios-inspector/build
